a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
  letter-spacing: 0.6px;
  font-family: Helvetica, sans-serif;
}

.bg {
  background-image: url("../images/Taipei.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 70%;
}

.bgDark {
  background-color: #1A1B1E;
  color: #FFF5EE;
}

.bgDark2 {
  background-color: #141517;
  color: #FFF5EE;
}

.bgLight {
  background-color: #FFF5EE;
  color: #1A1B1E;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dropdown-menu {
  min-width: 50px;
  background-color: #141517;
}

.dropdown-item {
  padding: 5px;
  display: block;
}

.dropdown-item:hover {
  background-color: #141517;
}

.img-fluid {
  width: 250px;
}

.overlay {
  background-color: rgba(26, 27, 30, 0.8);
}

.navbar-custom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #141517;
  padding: .5rem;
  justify-content: flex-end;
}

.customTile {
  background-image: url('../images/TileNameBar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  height: 50px;
  margin-bottom: 20px;
}
